:root {
  --primary-font-color: #474646;
  --primary-brand-color: #4dabf7;
  --primary-gradient-color: linear-gradient(to top left, #118cf1, #4dabf7);
  --animation-width: 2vw;
  --animation-border: 0.5vw solid #74c0fc;
  --animation-outline: 0.5vw solid #a5d8ff;

  --header-gap: 10rem;
  --logo-width: 15rem;
  --menu-font: 2rem;
  --menu-gap: 4rem;
  --menu-btn-size: 2.2rem;
  --menu-btn-padding: 1.2rem 2rem;
  --header-padding: 2rem;


  /* general */
  --section-p: 2vw;
  --section-heading-fs: 2.8vw;

  /* Hero Container */
  --hero-h1-fs: 7rem;
  --hero-p-fs: 3rem;
  --hero-a-fs: 2rem;
  --hero-img-wd: 20rem;
  --hero-img-gap: 90%;

  /* features */
  --feature-content-gap: 3vh;
  --feature-content-fir-p: 1.8vw;
  --feature-content-sec-p: 1.5vw;
  --content-gap:1vh;
  --tab-link-gap:6vh;

  /* Testimonials */
  --testimonial-h-fs: 1.2vw;
  --testimonial-p-fs: 1vw;
  --test-cus-fs: 1vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.3s; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--header-gap);
  position: relative;
  top: 0;
  z-index: 2;
  background-color: #f3f9fe;
  padding: var(--header-padding);
  box-shadow: 0 0 5px 5px rgba(227, 226, 226, 0.856);
  transition: all 0.3s;
}

.logo {
  max-width: var(--logo-width);
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  gap: var(--menu-gap);
  list-style-type: none;
  box-shadow: none;
  transition: all 0.3s;
}
.menu li a {
  font-size: var(--menu-font);
  text-decoration: none;
  color: var(--primary-font-color);
  transition: all 0.3s;
}

.menu li a:hover {
  color: #000;
}

.open-btn {
  background: var(--primary-gradient-color);
  padding: var(--menu-btn-padding);
  border: none;
  font-size: var(--menu-btn-size);
  border-radius: 3rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;

}
.open-btn:hover {
  opacity: 0.9;
}

/* Hero Section */
.hero-container {
  display: flex;
  justify-content: center;
  padding: 8rem 3rem 8rem 3rem;
  position: relative;
  /* border: 1px solid #000; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  /* position: relative; */
}

@keyframes after {
  0% {
    height: 1.5vw;
    width: 1vw;
  }
  50% {
    height: 2vw;
    width: 2vw;
  }
  100% {
    height: 1.5vw;
    width: 1vw;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-img {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: var(--hero-img-gap);
  margin-top: -4.5rem;
}

.hero-img .bank {
  width: var(--hero-img-wd);
  filter: hue-rotate(330deg);
}

.hero-img .card {
  width: var(--hero-img-wd);
  filter: hue-rotate(340deg);
}

.hero-container p::after {
  content: "";
  position: absolute;
  bottom: 40%;
  right: 6%;
  width: var(--animation-width);
  /* height: var(var(--animation-height)); */
  outline: var(--animation-outline);
  border: var(--animation-border);
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transform: transition all 0.5s;
  animation: after 4s linear infinite;
}

.hero-container p::before {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 7%;
  width: var(--animation-width);
  outline: var(--animation-outline);
  border: var(--animation-border);
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transform: transition all 0.5s;
  animation: after 7s linear infinite;
}

.hero-content::after {
  content: "▲";
  position: absolute;
  bottom: 15%;
  right: 45%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  color: #43a5ef;
  animation: rotate 7s linear infinite;
}

.hero-content::before {
  content: "░";
  position: absolute;
  bottom: 45%;
  left: 5%;
  font-size: 5vw;
  color: #43a5ef;
  transform: rotate(40deg);
}

.hero-content h1::before {
  content: "░";
  position: absolute;
  bottom: 15%;
  right: 8%;
  font-size: 5vw;
  color: #43a5ef;
  transform: rotate(80deg);
}

.hero-content h1 {
  font-size: var(--hero-h1-fs);
  color: var(--primary-font-color);
}

.hero-content span {
  display: inline-block;
  background: var(--primary-gradient-color);
  transform: skew(-20deg);
  padding: 0.5rem 2rem;
  border-top-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  color: #ffffffe3;
}

.hero-content p {
  font-size: var(--hero-p-fs);
  color: #484747;
  word-wrap: break-word;
  text-align: center;
}

.hero-content a {
  font-size: var(--hero-a-fs);
  color: var(--primary-brand-color);
}

.hero-content a:hover {
  color: #e730a0;
}

/* features-container */
.features-container {
  width: 80vw;
  height: auto;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.feature-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  transition: all 0.5s;
}
.feature-heading p {
  font-size: var(--section-p);
  letter-spacing: 6px;
  font-weight: 500;
}

.feature-heading h2 {
  text-align: center;
  font-size: var(--section-heading-fs);
  word-wrap: break-word;
  color: var(--primary-font-color);
}
.feature-heading span {
  color: var(--primary-brand-color);
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-bottom: 4rem;
  transition: all 0.5s;
}

.features img {
  width: 30vw;
  border-radius: 5px;
}

.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--feature-content-gap);
  transition: all 0.5s;
}
.feature-content img {
  width: 12%;
  height: 25%;
  transition: all 0.5s;
}

.feature-content p:nth-child(2) {
  font-size: var(--feature-content-fir-p);
  color: var(--primary-font-color);
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.feature-content p:nth-child(3) {
  font-size: var(--feature-content-sec-p);
  color: #686666;
  line-height: 1.4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Operation Section */

.operation-container {
  width: 80vw;
  height: auto;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  gap: 8vh;
}

.operation-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  /* margin-bottom: 2vh; */
}
.operation-heading p {
  font-size: var(--section-p);
  letter-spacing: 6px;
  font-weight: 500;
}

.operation-heading h2 {
  font-size: var(--section-heading-fs);
  color: var(--primary-font-color);
}
.operation-heading span {
  color: var(--primary-brand-color);
}

.operation-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.opt-content-heading {
  display: flex;
  flex-direction: column;
  gap: var(--tab-link-gap);
  position: relative;
  margin-right: -2rem;
  z-index: 1;
}

.opt-content-heading a {
  font-size: 1.6vw;
  display: inline-block;
  width: 20vw;
  text-decoration: none;
  background: var(--primary-brand-color);
  padding: 1.2rem;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  color: #f2ebef;
  transition: all 0.5s;
}

.opt-content-heading a:hover {
  opacity: 0.9;
  z-index: -1;
}

.opt-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 4vw 2rem;
  /* padding-left: 6rem; */
  position: relative;
  border-radius: 5px;
  background-color: #d0ebff;
  border-left: 10px solid var(--primary-brand-color);
  box-shadow: 0px 0px 0 5px var(--primary-brand-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  padding: 2rem 2rem 2rem 4rem;
  transition: all 0.5s;
}

.content h3 {
  font-size: 1.6vw;
  color: var(--primary-font-color);
  margin-bottom: 2rem;
}

.content p {
  font-size: 1.3vw;
  color: #5e5d5d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.active-tab {
  transform: scale(1.15) translateX(1rem);
  box-shadow: -2px -5px 0px 5px #d0ebff;
}

.display-none {
  display: none;
}

.content img {
  width: 6vw;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d0ebff;
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  padding: 15px;
  border-top: 5px solid #74c0fc;
}

/* Testimonials section */
.testimonials-container {
  width: 80vw;
  height: auto;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonials-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 3rem;
}

.testimonials-heading p {
  font-size: var(--section-p);
  letter-spacing: 6px;
  font-weight: 500;
}

.testimonials-heading h2 {
  font-size: var(--section-heading-fs);
  color: var(--primary-font-color);
}
.testimonials-heading span {
  color: var(--primary-brand-color);
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.testimonial {
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.5s;
}

.testimonial img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.testimonial h4 {
  font-size: var(--testimonial-h-fs);
  color: var(--primary-font-color);
}

.testimonial p {
  font-size: var(--testimonial-p-fs);
  line-height: 1.6;
  color: #686666;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.customer-details span {
  font-size: var(--test-cus-fs);
  font-weight: 600;
}

.customer-details p {
  font-size: var(--test-cus-fs);
}

.customer-details {
  border-top: 2px solid gray;
  padding-top: 1rem;
}

/* Footer Section */

.open-account {
  overflow-x: hidden;
  /* width: 100vw; */
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #a5d8ff;
  border-bottom: 1px solid rgb(230, 229, 229);
}

.open-account p {
  max-width: 65%;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 600;
  color: var(--primary-font-color);
}

.open-account button {
  background: var(--primary-gradient-color);
  padding: 1.4rem;
  border-radius: 3rem;
  color: #fff;
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
}
.footer-nav {
  /* width: 100vw; */
  overflow-x: hidden;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #495057;
  border-bottom: 1px solid rgb(230, 229, 229);
}
.links {
  display: flex;
  gap: 4rem;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer ul li a {
  font-size: 1.5rem;
  color: #fff;
}

.query-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50vw;
  align-self: flex-end;
}

textarea {
  border: none;
  padding: 1.6rem;
  font-size: 1.5rem;
  border-radius: 5px;
  resize: none;
}

input[type="submit"] {
  background: var(--primary-brand-color);
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hrline {
  height: 15rem;
  background-color: rgb(230, 229, 229);
  width: 1px;
}


.author-information {
  background-color: #3b3a3a;
  color: #fff;
  text-align: center;
  font-size: 0.8vw;
  padding: 1rem;
}


/* Modal Section */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 5;
  transition: all 0.2s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 4;
  transition: all 0.2s;
}

.modal-header {
  font-size: 2vw;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal-header span {
  display: inline-block;
  background: var(--primary-gradient-color);
  color: #fffaf0;
  transform: skewX(-15deg);
  padding: 0 5px;
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal-form label {
  font-size: 1.1vw;
  font-weight: 500;
}

.modal-form input {
  font-size: 1.1vw;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
.modal-form input:focus {
  outline:none;
  box-shadow: 0 0 1px 3px var(--primary-brand-color);
}
.modal-form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
  display: inline-block;
  background: var(--primary-gradient-color);
  color: #fffaf0;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* media queries */
@media screen and (max-width: 1290px) {
  :root {
    --hero-h1-fs: 6rem;
    --hero-p-fs: 3rem;
    --hero-a-fs: 2rem;
    --hero-img-wd: 20rem;
  }
}

@media screen and (max-width: 1100px) {
  :root {
    --hero-h1-fs: 5rem;
    --hero-p-fs: 2.5rem;
    --hero-img-wd: 18rem;
  }
}

@media screen and (max-width: 990px) {
  :root {
    --hero-h1-fs: 4rem;
    --hero-img-wd: 15rem;
    --hero-p-fs: 2rem;
  }
}

@media screen and (max-width: 948px) {
  :root {
    --header-gap: 5rem;
    --menu-btn-padding: 1.2rem 1.8rem;
    --testimonial-h-fs: 2vw;
    --testimonial-p-fs: 1.5vw;
    --test-cus-fs: 1.4vw;
  }
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 850px) {
  :root {
    --header-gap: 3rem;
    --logo-width: 13rem;
    --menu-font: 1.8rem;
    --menu-btn-size: 2rem;
    --menu-gap: 2rem;

    --hero-h1-fs: 3.5rem;
    --hero-img-gap: 70%;
  }
}

@media screen and (max-width: 771px) {
  :root {
    --hero-img-gap: 60%;
    --hero-img-wd: 13rem;
  }
  .operation-content {
    flex-direction: column;
    gap: 3rem;
  }
  .opt-content-heading {
    flex-direction: row;
  }
  .content h3 {
    font-size: 2.4vw;
  }
  .content p {
    font-size: 1.8vw;
  }
  .content img {
    width: 9vw;
    top: 5%;
  }
}

@media screen and (max-width: 730px) {
  :root {
    --header-padding: 1rem;
    --menu-btn-size: 1.5rem;
    --menu-font: 1.7rem;
    --logo-width: 12rem;

    --hero-h1-fs: 3rem;
    --hero-img-wd: 11rem;
    --hero-p-fs: 2rem;
    --hero-a-fs: 1.5rem;

    --feature-content-sec-p: 1.8vw;
    --feature-content-gap: 2vh;
  }
}

@media screen and (max-width: 632px) {
  :root {
    --menu-btn-size: 1.3rem;
    --menu-font: 1.5rem;
    --logo-width: 10rem;

    --hero-h1-fs: 2.5rem;
    --hero-p-fs: 1.6rem;
    --hero-img-wd: 10rem;

    --feature-content-sec-p: 2.5vw;
    --feature-content-fir-p: 1.8rem;
  }

  .feature-heading h2 {
    padding: 0 4rem;
  }

  .features {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature-content img {
    display: none;
  }
  .features img {
    order: 2;
  }
  .open-account {
    padding: 8rem;

  }
}

@media screen and (max-width: 572px) {
  :root {
    --header-gap: 1.4rem;
    --menu-font: 1.5rem;
    --menu-gap: 1rem;
    --logo-width: 8rem;
    --menu-btn-padding: 0.8rem 0.8rem;

    --hero-h1-fs: 2.2rem;
    --section-heading-fs: 4vw;
    --section-p:3vw;

    --testimonial-h-fs: 4vw;
    --testimonial-p-fs: 3vw;
    --test-cus-fs: 3vw;
  }
  .header {
    justify-content: space-evenly;
  }

  .content {
    padding: 1rem;
  }

  .content h3 {
    font-size: 2.6vw;
  }
  .content p {
    font-size: 2.4vw;
  }

  .opt-content-heading a {
    font-size: 2vw;
    padding: 1rem;
  }
  .opt-content-heading {
    gap: 3vw;
  }
  .active-tab {
    margin-right: 10%;
    transform: scale(1.15) translateX(1rem);
  }

  .testimonial img {
    height: 50%;
  }

  .testimonials {
    grid-template-columns: 30rem;
    justify-content: center;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
  }
  .footer ul  {
    flex-direction: row;
  }
  .footer ul li a {
    font-size: 1.2rem;
    color: #fff;
  }
  .links {
    gap: 1.1rem;
    flex-direction: column;
    align-items: center;
  }
  .hrline {
    display: none;
  }
  .query-form {
    align-self: center;
  }
  .open-account {
    padding: 6rem;

  }
}



@media screen and (max-width: 491px) {
  :root {
    --header-gap: 2rem;
    --menu-font: 1.6rem;
    --logo-width: 10rem;
    --menu-btn-size: 1.6rem;
    --menu-btn-padding: 0.8rem 0.8rem;

    --hero-h1-fs: 2rem;
    --hero-p-fs: 1.5rem;
    --hero-img-wd: 8rem;
  }
  .header {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .menu {
    order: 3;
    width: 100%;
    border-top: 1px solid #d2cfcf;
    padding: 1rem;
  }
  .open-account {
    padding: 4rem;

  }
  .open-account button {
    font-size: 3vw;
  }
}

@media screen and (max-width: 460px) {
  :root {
    --hero-p-fs: 1.8rem;
  }

  .hero-content h1 {
    --hero-h1-fs: 3.5rem;
    word-wrap: break-word;
    text-align: center;
    line-height: 1;
  }
  .hero-content span {
    transform: none;
    background: none;
    color: var(--primary-brand-color);
  }
  .hero-content {
    gap: 3rem;
  }
  .hero-img {
    margin-top: 0;
  }
  .open-account {
    padding: 3rem;

  }
  .open-account button {
    font-size: 3vw;
  }
}
